.category_list
{
  list-style: none;
}
.category_list > li
{
  font-size: 20px;
}

.active
{
  background-color: #A7B3FE;
}

.recent
{
  text-align: center;
  font-size: 16px;
  margin: auto;
}

.recentList
{
    list-style: none;
    padding: 0px;
    text-align: center;
}

.recentList > a > li
{
  padding: 10px;
  padding-bottom: 0px;
}

.recentList > a > li > p
{
  margin: 0px;
  font-size: 14px;
  font-family: Verdana, Geneva, sans-serif;
}

.recentList > a > li > img
{
  display: flex;
  width: 60px;
  height: 60px;
  border-radius: 4px;
  border: 1px solid #CCCCCC;
  margin: 5px 30px 5px 43px;
}

.navbar-default .navbar-nav > .active{
    color: #000;
    background: #d65c14;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #d65c14;
}
