html, body {
    margin: 0;
    padding: 0;
}

/*
header
{
  padding : 15px;
}

header {
    background-color: #147871;
    padding: 15px 20px;
    border-top: 4px solid #606060;
    border-bottom: 4px solid #606060;
}

header h1 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
*/

main {
    margin: 0;
    padding: 15px;
}

footer
{
  text-align: center;
}

.navbar
{
  padding: 0px;
  margin-bottom: 0px;
}

.navbar-brand
{
  padding: 5px 15px;
}

.navbar-brand>img
{
    width: 50px;
}
