html, body {
    margin: 0;
    padding: 0;
}

/*
header
{
  padding : 15px;
}

header {
    background-color: #147871;
    padding: 15px 20px;
    border-top: 4px solid #606060;
    border-bottom: 4px solid #606060;
}

header h1 {
    color: #FFFFFF;
    margin: 0;
    padding: 0;
}
*/

main {
    margin: 0;
    padding: 15px;
}

footer
{
  text-align: center;
}

.navbar
{
  padding: 0px;
  margin-bottom: 0px;
  font-family: Verdana, Geneva, sans-serif;

}

.navbar-default .navbar-nav > .active{
    color: #000;
    background: #d65c14;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus {
    color: #000;
    background: #d65c14;
}

.navbar-brand
{
  padding: 5px 15px;
}

.navbar-brand>img
{
    width: 40px;
}
