h4.utc-time {
    color: #AA3333;
}

.container
{
  position: relative;
}

.top_left
{
  position: absolute;
  top: 0%;
  left: 0%;
  font-family: Impact, Charcoal, sans-serif;
}

.top_left h1
{
  font-size: 370%;
}

.bottom_right
{
  position: absolute;
  bottom: 22%;
  right: 5%;
  text-align: right;
  font-family: Verdana, Geneva, sans-serif;
}

.bottom_right h2
{
  font-size: 200%;
}

/* .button {
  background: black;
  border-radius: 100px;
  padding: 10px 25px;
  color: #fff;
  font-weight: normal;
  font-size: 15px;
  font-family: Verdana, Geneva, sans-serif;
} */

.button {
  display: inline-block;
  border-radius: 100px;
  background: black;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 20px;
  padding: 15px;
  width: 120px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;
}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover
{
  background-color: #364c7a;
  color: white;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}
