<%inherit file="app_base.htm" />

<%block name="top">
  <div class="prod_name">
    <h1 class="text-center">${ prod_name }</h1>
  </div>
</%block>

<%block name="center">

  <div class="product_container">
  %if product.status == 'A':
    <ul class="img_list">
      % for img in product.image_urls():
        <li><img alt="list of images" class="img-responsive img_item" src="${ img }" /></li>
      % endfor
    </ul>
    <div class="product_image">
      <img alt="product image" class="img-responsive prod_img" src="${ product.image_url() }"/>
    </div>
    <div class="description">
       <p>
         ${ product.description }
      </p>
    </div>
    <div class="purchase">

      <p id="product_price">Price: ${'${:,.2f}'.format(product.price)}</p>
      <div id="myform">
        ${ form }
      </div>
<!--
      % if hasattr(product, "quantity"):
        Quantity: <input type="number" />
      % endif

      <button type="submit"><span>BUY NOW</span></button> -->
    </div>
  %else:
    <h2>This product is no longer available</h2>
  %endif
  </div>

</%block>
