<%inherit file="app_base.htm" />

<%block name="top">
  <h1 class="text-center">${ 'All Products' if category is None else category.name }</h1>
</%block>

<%block name="center">
  <div id="paginator" class="text-right row">
    <a id="previous_page"><span class="glyphicon glyphicon-triangle-left"></span></a>
     Page <span id="page_number">1</span> of ${ num_pages }
    <a id="next_page"><span class="glyphicon glyphicon-triangle-right"></span></a>
  </div>

  <div id="catalog_container">

 </div>
</%block>
