<%inherit file="app_base.htm" />

<%block name="left">
  <ul class="category_list">
    <li><a class="${ 'active' if cat_name == 'All Products' else '' }" href="/catalog/index/0">All Products</a></li>

    % for cat in categories:
      <li><a class="${ 'active' if cat_name == cat.name else '' }" href="/catalog/index/${ cat.id }">${ cat.name }</a></li>
    % endfor
  </ul>
</%block>

<%block name="top">
  <h1 class="text-center">${ 'All Products' if category is None else category.name }</h1>
</%block>

<%block name="center">
  <div id="paginator" class="text-right row">
    <a id="previous_page"><span class="glyphicon glyphicon-triangle-left"></span></a>
     Page <span id="page_number">1</span> of ${ num_pages }
    <a id="next_page"><span class="glyphicon glyphicon-triangle-right"></span></a>
  </div>

  <div id="catalog_container">

 </div>
</%block>
