<%inherit file="app_base.htm" />

<%block name="center">
    <div class="center">
        <h2>About Us</h2>

        <p>FOMO was founded in Montgomery, Alabama in 1905 by Art Freehling.
          To this day, Art’s continues to be owned and managed by his multi-generational
          family. It is staffed by knowledgeable people, each with a lengthy involvement
          in the musical world. As one of a handful of century-plus businesses in Alabama,
          Art’s has played an important role in the lives of thousands of musicians
          including band directors, students, professional musicians and organizations.
          Chances are, we probably helped start the very first program at your school.
          Art’s continues to operate this way today – by specializing in recruiting school
          bands and orchestras with an emphasis on careful testing to direct each and every
          child to the instrument best suited to their needs.
        </p>

        <p>
        We provide three retail stores in Birmingham, Dothan and our headquarters
        in Montgomery, Alabama. Our School Service Representatives service middle schools,
        high schools and universities throughout Alabama, Florida and Georgia. However,
        our customer base extends throughout the United States.
        </p>

        <p>
        In addition to our competitive pricing, we service what we sell! We have
        multiple Repair Service Specialists at each branch who will happily service
        your instruments throughout your musical career. Be sure to check out our other
        pages within the site.
        </p>

        <p>
        We’ll see you at the school, in the store, or around town!
        </p>

    </div>
</%block>
