<%inherit file="app_base.htm" />

<%block name="center">
    <div class="center">
        <h1>Frequently Asked Questions</h1><br/>

        <h2>How long is the initial rental period?</h2>
        <p>You would have to renew it every month.</p>

        <h2>Is it better to rent or to buy an instrument?</h2>
        <p>Renting is an affordable way to try an instrument without a purchase investment,
          and with no obligation to buy. 100% of rental payments apply towards purchase of
          an instrument, and you can return anytime. Most importantly, you're assured of getting
          a quality educator-approved instrument, which allows the student the greatest chance of
           success. Borrowed instruments from family or friends may need expensive repairs to
           make them playable.</p>

        <h2>Do you offer a maintenance plan?</h2>
        <p>A credit card or debit card is required should you order online.
          The card you use for the initial payment will be automatically set up
          on our Easy Pay program for payment of the monthly re-rental of the instrument.
          Remember, you can return at any time after the initial rental period ends.</p>
    </div>
</%block>
